<div class="row">
<% var i=0; %>
<% _.each(list, function(item){ %>
    <% if (i%4 === 0) { %>
    
    <% } %>
        <div class="col-sm-3">
            <img class="thumbnail" src="<%= item.img %>" style="width:128px;height:128px;"></img>
            <a href="<%= item.pin %>"><%= item.name %></a>
            <p><%= item.denpences %></p>
            <p><%= item.descript %></p>
        </div>
    <% if (i%4 === 3){ %>
    
    <% } %>
<% ;i++;}) %>
</div>

